.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tabs {
  background-color: white;
  border-radius: 12px;
  padding: 16px;
}

.searchBar {
  margin-top: 16px;
  width: 40%;
}
.active {
  color: seagreen;
}

.draft {
  color: #ffc000;
}

.archived {
  color: dimgray;
}

.lowCount {
  color: crimson;
}
