.content {
  height: auto;
  background-color: white;
  border-radius: inherit;
}

.title {
  padding: 24px;
}

.price {
  padding-top: 16px;
}

.margin {
  padding: 32px 0;
  display: flex;
  width: 100%;
  gap: 80px;
  align-items: center;
}

.marginInfo {
  display: flex;
  flex-direction: column;
}

.marginData {
  display: flex;
  gap: 80px;
  margin-top: 32px;
}
