.content {
  height: auto;
  background-color: white;
  border-radius: inherit;
}

.title {
  padding: 24px;
}

.categoryField {
  padding: 0 24px;
}

.typeField {
  padding: 8px 24px;
}

.colorField {
  padding: 8px 24px;
}

.vendorField {
  padding: 0px 24px 24px 24px;
}
